.control {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  width: 90%;
  margin-bottom: 15px;
}

.container {
  max-width: 300px;
  background-color: azure;
  padding: 20px;
  margin: 30px auto;
  border-radius: 15px;
  box-shadow: 3px 9px 17px 0px rgba(137, 137, 137, 0.3);
}
